
# Persistent data
__deploy__/mysql/data
__deploy__/redis/data

# Nginx Certificates
__deploy__/nginx/certificates/*.key
__deploy__/nginx/certificates/*.crt

# Backend

backend/node_modules
backend/logs
backend/dist
backend/.env