
# Enter your lxd server location eg. http://10.98.182.5
LXD_SERVER=LXD_SERVER_ID
LXD_AGENT_SERVER=YOUR_LXD_AGENT_SERVER_IP
PROJECT=YOUR_PROJECT_NAME

# DB Host eg. 10.193.25.92
DB_HOST=DATABASE_HOST_NAME
DB_USER=DATABASE_USERNAME
DB_NAME=DATABASE_NAME
DB_PORT=DATABASE_PORT
DB_PASSWD=DATABASE_PASSWORD


# password hash salting rounds
SALTROUNDS=                         # eg. 10


JWT_SECRET=YOUR_JWT_SECRET

# set to true if in production
IN_PROD=false


# redis configs
REDIS_SERVER=localhost
REDIS_SERVER_PORT=6379
REDIS_PROVISIONING_QUEUE=           # provisioning queue name eg. provision-instance
REDIS_LIFECYCLE_QUEUE=              # lifecycle queue name eg. instance-lifecycle

LXD_EVENTS=                         # events to listen for eg. lifecycle or lifecycle,operation